<!--
<div class="row">
  <div class="col-2">
<div class="sidebar-fixed">

  <a class="logo-wrapper waves-effect">
    <img src="assets/images/SA.jpg" class="img-fluid" alt="">
  </a>

  <div class="list-group list-group-flush">

    <a routerLink="dashboards/v1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard
    </a>
    <a routerLink="profiles/profile1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Profile</a>
    <a routerLink="tables/table1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Tables</a>
    <a routerLink="maps/map1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon far icon="map" class="mr-3"></mdb-icon>Maps</a>
    <a routerLink="nonExistingPath" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="exclamation" class="mr-3"></mdb-icon>404</a>

  </div>

</div>
</div>
<div class="col-10">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <mdb-navbar-brand><a class="navbar-brand" href="#">
      <mdb-icon fas icon="home"></mdb-icon>
    </a></mdb-navbar-brand>

    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link waves-light" mdbWavesEffect> Briefs
            <mdb-icon fas icon="clipboard-list"></mdb-icon>
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/#']"> Rendus
            <mdb-icon fas icon="calendar-check"></mdb-icon>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/#']"> Forum
            <mdb-icon [routerLink]="['/#']" far icon="comments"></mdb-icon></a>
        </li>

        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>Paramétres
            <mdb-icon fas icon="cog"></mdb-icon><span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/#']">Promos</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/#']">Référentiels</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/#']">Groupe de compétences</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/#']">Compétences</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/#']">Profil de sortie</a>
          </div>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/admin/users']" class="nav-link">Users
            <mdb-icon fas icon="user-alt"></mdb-icon>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link">Historiques des promos
            <mdb-icon fas icon="history"></mdb-icon>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="university"></mdb-icon>SA COHORTE 3 </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon far icon="bell"></mdb-icon> Notification</a>
        </li>

        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Profile</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
      </ul>
    </links>

  </mdb-navbar>
</div>
</div>
-->

