<div class="jumbotron">
  <div class="row">
    <div class="col-8">
      <form>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" placeholder="Nom">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" id="prenom" placeholder="Prénom">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="adresse">Address</label>
          <input type="text" class="form-control" id="adresse" placeholder="1234 Main St">
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="profile">Profile</label>
            <select class="custom-select">
              <option selected="">Profile</option>
              <option value="1">Admin</option>
              <option value="2">Formateur</option>
              <option value="3">CM</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="telephone">Téléphone</label>
            <input type="text" class="form-control" id="telephone" placeholder="Numéro de téléphone">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text">Upload</span>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
      <div class="col-4 d-flex justify-content-center"> <img src="assets/images/SA.jpg" alt="..." class="img-thumbnail avatar rounded-circle" ></div>
  </div>
</div>
