
 <!--Card-->
  <div class="card">

    <!--Card content-->
    <div class="card-body">
      <div class="row">
        <div class="col-3 float-left">
          <img src="assets/images/Logo-Sonatel-Academy.jpg" class="img-fluid" alt="..." />
        </div>
        <div class="col-6 float-right">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-left ">SA Cohorte 3</h2>
        <!--Section description-->
        <p class="text-left w-responsive">Do you have any questions? Please do not hesitate to contact
          us directly. Our team will come back to you within
          a matter of hours to help you.</p>
        </div>
        <div class="col-3">
          <ul class="list-unstyled mb-0 float-right">
            <li><i class="fas fa-map-marker-alt fa-2x"></i>
              <p>SA ODC, Dakar</p>
            </li>

            <li><i class="fas fa-phone mt-4 fa-2x"></i>
              <p>+ 221 33 838 33 34</p>
            </li>

            <li><i class="fas fa-user mt-4 fa-2x"></i>
              <p>102 apprenants en cours</p>
            </li>
          </ul>
        <!--Grid column-->

      </div>

    </div>

  </div>
  <!--/.Card-->
</div>

