<div class="jumbotron shadow p-3 mt-3 rounded">
  <h1 class="display-5 text-center text-white" style="background-color: #3f729b">Création Référentiel</h1>
  <p class="lead text-danger"><img src="/src/assets/img/icon/" alt="">* Obligatoire.</p>
  <hr class="my-4">
  <form>
    <fieldset>
      <div class="form-group">
        <label for="InputTitre">Libelle <i class="text-danger">*</i></label>
        <input type="text" class="form-control " id="" aria-describedby="titre"
               placeholder="Saisir le libelle">
      </div>
      <div class="form-group">
        <label for="Textdescription">Présentation</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"
                  placeholder="Ecrivez une présentation"></textarea>
      </div>
      <div class="form-group">
        <label for="Textdescription">Competences</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"
                  placeholder="les compétences"></textarea>
      </div>
      <div class="form-group">
        <label for="InputTitre">Programme <i class="text-danger">*</i></label>
        <input type="text" class="form-control " id="" aria-describedby="titre"
               placeholder="Renseigner le programme">
      </div>
      <div class="form-group">
        <label for="Textdescription">Critères d'évaluation</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"
                  placeholder="Ecrivez le critère d'évaluation"></textarea>
      </div>
      <div class="form-group">
        <label for="Textdescription">Critères d'admission</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"
                  placeholder="Ecrivez le critère d'admission"></textarea>
      </div>
      <div class="row">
        <div class="col-lg-6 mx-auto ml-5">
          <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
