<!-- Sidebar -->
<div class="sidebar-fixed position-relative">

  <a class="logo-wrapper waves-effect">
    <img src="assets/images/SA.jpg" class="img-fluid" alt="">
  </a>

  <div class="list-group list-group-flush">

    <a routerLink="dashboard" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard
    </a>
    <a routerLink="profiles" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Liste profiles</a>
    <a routerLink="users" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <i class="fas fa-users mr-3"></i>Listes utilisateurs</a>
    <a routerLink="chat" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <i class="fas fa-comment mr-3"></i>Chat</a>
    <a routerLink="profileSortie" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="exclamation" class="mr-3"></mdb-icon>Profiles de sortie</a>

  </div>

</div>
<!-- Sidebar -->
