<div class="jumbotron bg-light" style="height: 35rem;">
  <h3 class="text-center">Liste des compétences</h3>
  <button class="btn btn-outline-dark float-right ml-2"><mdb-icon fas icon="user-plus"></mdb-icon></button>
  <div class="row">
    <div class="col-4">
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>Groupe de compétence</mat-label>
        <mat-select [formControl]="competence" id="competence" >
          <mat-option *ngFor="let grpcom of grpCompetences"  value={{grpcom.id}}  (focusout)="onFocusOutEvent()">
            {{grpcom.libelle}}
          </mat-option>
        </mat-select>
      </mat-form-field>
          <div class="shadow">
            <ul class="list-group">
              <li [routerLink]="['/admin/competence/', comp.id, 'niveau']" class="list-group-item" *ngFor="let comp of competences" (click)="getNiveau(id)">
              <strong>{{comp.libelle}}</strong>
              </li>
            </ul>
          </div>
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
