<ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#niveau1">Niveau 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#niveau2">Niveau 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#niveau3">Niveau 3</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="niveau1">
          <div class="card text-white bg-primary mb-3 float-left" style="max-width: 22.65rem;">
            <div class="card-header">Niveau 1</div>
            <div class="card-body">
              <h4 class="card-title">Groupe d'actions à réaliser</h4>
              <p class="card-text">{{niveau1.groupeAction}}</p>
            </div>
          </div>
          <div class="card text-white bg-dark mb-3 float-left" style="max-width: 22.65rem;">
            <div class="card-header">Niveau 1</div>
            <div class="card-body">
              <h4 class="card-title">Critères d'évaluation</h4>
              <p class="card-text">{{niveau1.critereEvaluation}}</p>
            </div>
          </div>
        </div>

       <!-- <div class="tab-pane fade" id="niveau2">
          <div class="card text-white bg-info mb-3 float-left" style="max-width: 22.65rem;">
            <div class="card-header">Niveau 2</div>
            <div class="card-body">
              <h4 class="card-title">Groupe d'actions à réaliser</h4>
              <p class="card-text">A partir d'un schéma physique
                de données et dans le contexte
                d'un besoin client décrit, créer
                une base de données sur un
                SGBD.</p>
            </div>
          </div>
          <div class="card text-white bg-secondary mb-3 float-left" style="max-width: 22.65rem;">
            <div class="card-header">Niveau 2</div>
            <div class="card-body">
              <h4 class="card-title">Critères d'évaluation</h4>
              <p class="card-text">La BD est créée à l'aide d'un
                script sans erreur et les
                données sont insérées à l'aide
                d'un script sans erreur.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="niveau3">
          <div class="card text-white bg-warning mb-3 float-left" style="max-width: 22.65rem;">
            <div class="card-header">Niveau 3</div>
            <div class="card-body">
              <h4 class="card-title">Groupe d'actions à réaliser</h4>
              <p class="card-text">A partir d'un schéma physique
                de données et dans le contexte
                d'un besoin client décrit, créer
                une base de données sur un
                SGBD.</p>
            </div>
          </div>
          <div class="card text-white bg-success mb-3 float-left" style="max-width: 22.65rem;">
            <div class="card-header">Niveau 3</div>
            <div class="card-body">
              <h4 class="card-title">Critères d'évaluation</h4>
              <p class="card-text">La BD est créée à l'aide d'un
                script sans erreur et les
                données sont insérées à l'aide
                d'un script sans erreur.</p>
            </div>
          </div>
        </div>-->
      </div>
