<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">liste des Profiles de sortie</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
        class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Libelle</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let profileSortie of profileSorities">
          <td class="pt-3-half" contenteditable="true"> {{profileSortie.id}} </td>
          <td class="pt-3-half" contenteditable="true"> {{profileSortie.libelle}} </td>
          <td>
            <span class="table-edit"><button type="button" class="btn btn-warning btn-rounded btn-sm my-0 mr-2" (click)="updateProfileSortie(profileSortie)">Modifier</button></span>
            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Supprimer</button></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
